/* src/components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: hwb(332 4% 40%);
    color: white;
  }
  
  .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }
  
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  .navLink {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  